deal-api/src/v1/controllers/integration/type-a-defs/type-a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Deal">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="General_information"/>
        <xs:element ref="Application_route"/>
        <xs:element ref="Application_owner"/>
        <xs:element ref="Application_owner_email"/>
        <xs:element ref="Application_bank"/>
        <xs:element ref="Application_bank_co_hse_reg_number"/>
        <xs:element ref="UKEF_deal_id"/>
        <xs:element ref="Deal_information"/>
        <xs:element ref="Eligibility_checklist"/>
        <xs:element ref="Facilities"/>
        <xs:element ref="Deal_summary"/>
        <xs:element ref="Deal_files"/>
      </xs:sequence>
      <xs:attribute name="action_code" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="001" />
            <xs:enumeration value="003" />
            <xs:enumeration value="010" />
            <xs:enumeration value="016" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="action_name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NewDeal" />
            <xs:enumeration value="AmendDeal" />
            <xs:enumeration value="ATPConfirm" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="application_group" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="EWCS" />
            <xs:enumeration value="BSS" />
            <xs:enumeration value="BSS and EWCS" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="message_type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="A" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="portal_deal_id" use="required" type="xs:integer"/>
      <xs:attribute name="revision_id" use="required" type="xs:integer"/>
      <xs:attribute name="source" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <!-- V1 is for Drupal Portal -->
            <xs:enumeration value="V1" />
            <!-- V2 is for Node.js Portal -->
            <xs:enumeration value="V2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="General_information">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Deal_name"  type="xs:string"/>
        <xs:element name="Bank_deal_id" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Application_route">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ATP"/>
        <xs:enumeration value="Non-ATP"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Application_owner" type="xs:string"/>
  <xs:element name="Application_owner_email" type="xs:string"/>
  <xs:element name="Application_bank" type="xs:string"/>
  <xs:element name="Application_bank_co_hse_reg_number" type="xs:string"/>
  <xs:element name="UKEF_deal_id" type="xs:string"/>
  <xs:element name="Deal_information">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Exporter_and_indemnifier"/>
        <xs:element ref="Buyer"/>
        <xs:element ref="Financial"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exporter_and_indemnifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Customer_type"/>
        <xs:element ref="Exporter_co_hse_reg_number"/>
        <xs:element ref="Exporter_registration_source"/>
        <xs:element ref="Exporter_name"/>
        <xs:element ref="Exporter_address" />
        <xs:element ref="Exporter_correspondence_address"/>
        <xs:element ref="Industry_sector_code"/>
        <xs:element ref="Industry_sector_name"/>
        <xs:element ref="Industry_class_code"/>
        <xs:element ref="Industry_class_name"/>
        <xs:element ref="Sme_type"/>
        <xs:element ref="Description_of_export"/>
        <xs:element ref="Bank_security"/>
        <xs:element ref="Indemnifier_co_hse_reg_number" />
        <xs:element ref="Indemnifier_name"/>
        <xs:element ref="Indemnifier_address"/>
        <xs:element ref="Indemnifier_correspondence_address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Customer_type">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Exporter_co_hse_reg_number">
    <xs:simpleType>
      <xs:union>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Exporter_registration_source">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Companies House"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Exporter_name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Exporter_address" type="AddressType"/>
  <xs:element name="Exporter_correspondence_address" type="AddressType"/>
  <xs:element name="Industry_sector_code" type="xs:string"/>
  <xs:element name="Industry_sector_name" type="xs:string"/>
  <xs:element name="Industry_class_code" type="xs:string"/>
  <xs:element name="Industry_class_name" type="xs:string"/>
  <xs:element name="Sme_type">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
        <xs:enumeration value="4"/>
        <xs:enumeration value="5"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Description_of_export" type="xs:string"/>
  <xs:element name="Bank_security">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="300"/>
        <xs:whiteSpace value="collapse"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Indemnifier_co_hse_reg_number">
    <xs:simpleType>
      <xs:union>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value=""/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Indemnifier_name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Indemnifier_address" type="AddressType"/>
  <xs:element name="Indemnifier_correspondence_address" type="AddressType" />
  <xs:element name="Buyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Buyer_name"/>
        <xs:element ref="Buyer_country_code"/>
        <xs:element ref="Destination_country_code"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buyer_name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Buyer_country_code" type="xs:integer"/>
  <xs:element name="Destination_country_code" type="xs:integer"/>
  <xs:element name="Financial">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Deal_currency_code"/>
        <xs:element ref="Conversion_rate"/>
        <xs:element ref="Conversion_date"/>
        <xs:element ref="Contract_value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deal_currency_code" type="xs:integer"/>
  <xs:element name="Conversion_rate">
    <xs:simpleType>
      <xs:union>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="0"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Conversion_date">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{2}-\d{2}-\d{4})?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Contract_value">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Eligibility_checklist">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Ec_agents_check"/>
        <xs:element ref="Ec_initial_term_check"/>
        <xs:element ref="Ec_total_exposure_check"/>
        <xs:element ref="Ec_bond_issuance_check"/>
        <xs:element ref="Ec_industry_check"/>
        <xs:element ref="Ec_indemnifier_turnover_check"/>
        <xs:element ref="Ec_indemnifier_net_worth_check"/>
        <xs:element ref="Ec_indemnifier_liquidity_check"/>
        <xs:element ref="Ec_indemnifier_filed_accounts_check"/>
        <xs:element ref="Ec_indemnifier_watchlist_check"/>
        <xs:element ref="Ec_indemnifier_rating_check"/>
        <xs:element ref="Ec_internal_approval_check"/>
        <xs:element ref="Ec_third_party_check"/>
        <xs:element ref="Ec_bank_facility_letter_check"/>
        <xs:element ref="Ec_banks_normal_pricing_policies_check"/>
        <xs:element ref="Ec_fees_interest_frequency_check"/>
        <xs:element ref="Ec_affiliate_to_the_supplier_check"/>
        <xs:element ref="Ec_requested_cover_start_date_check"/>
        <xs:element ref="Ec_supplier_declaration_check"/>
        <xs:element ref="Ec_affected_transaction_check"/>
        <xs:element ref="Ec_bank_complied_check"/>
        <xs:element ref="Ec_bank_sole_beneficial_owner_check"/>
        <xs:element ref="Ec_disposal_risk_transfer_check"/>
        <xs:element ref="Ec_consent_obligor_check"/>
        <xs:element ref="Ec_agreement_with_obligor_check"/>
        <xs:element ref="Agent_name"/>
        <xs:element ref="Agent_address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ec_agents_check" type="xs:boolean"/>
  <xs:element name="Ec_initial_term_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_total_exposure_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_bond_issuance_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_industry_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_indemnifier_turnover_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_indemnifier_net_worth_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_indemnifier_liquidity_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_indemnifier_filed_accounts_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_indemnifier_watchlist_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_indemnifier_rating_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_internal_approval_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_third_party_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_bank_facility_letter_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_banks_normal_pricing_policies_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_fees_interest_frequency_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_affiliate_to_the_supplier_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_requested_cover_start_date_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_supplier_declaration_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_affected_transaction_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_bank_complied_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_bank_sole_beneficial_owner_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_disposal_risk_transfer_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_consent_obligor_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Ec_agreement_with_obligor_check" type="xs:boolean" nillable="true"/>
  <xs:element name="Agent_name" type="xs:string"/>
  <xs:element name="Agent_address" type="AddressType"/>
  <xs:element name="Facilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="BSS"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EWCS"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BSS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UKEF_BSS_facility_id"/>
        <xs:element ref="BSS_Guarantee_details"/>
        <xs:element ref="BSS_Financial_details"/>
        <xs:element ref="BSS_Dates_repayments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UKEF_BSS_facility_id" type="xs:string"/>
  <xs:element name="BSS_Guarantee_details">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BSS_portal_facility_id"/>
        <xs:element ref="BSS_bank_id"/>
        <xs:element ref="BSS_issuer"/>
        <xs:element ref="BSS_type"/>
        <xs:element ref="BSS_stage"/>
        <xs:element ref="BSS_beneficiary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BSS_portal_facility_id" type="xs:integer"/>
  <xs:element name="BSS_bank_id">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_issuer">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_type">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
        <xs:enumeration value="4"/>
        <xs:enumeration value="5"/>
        <xs:enumeration value="6"/>
        <xs:enumeration value="7"/>
        <xs:enumeration value="8"/>
        <xs:enumeration value="9"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_stage">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_beneficiary">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="150"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_Financial_details">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BSS_value"/>
        <xs:element ref="BSS_currency_code"/>
        <xs:element ref="BSS_conversion_rate_deal"/>
        <xs:element ref="BSS_conversion_date_deal"/>
        <xs:element ref="BSS_fee_rate"/>
        <xs:element ref="BSS_fee_perc"/>
        <xs:element ref="BSS_guarantee_perc"/>
        <xs:element ref="BSS_max_liability"/>
        <xs:element ref="BSS_min_quarterly_fee"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BSS_value">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_currency_code" type="xs:integer"/>
  <xs:element name="BSS_conversion_rate_deal">
    <xs:simpleType>
      <xs:union>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="0"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_conversion_date_deal">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{2}-\d{2}-\d{4})?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_fee_rate">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_fee_perc">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="100"/>
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element> 
  <xs:element name="BSS_guarantee_perc">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="100"/>
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_max_liability">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_min_quarterly_fee" type="xs:decimal"/>
  <xs:element name="BSS_Dates_repayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BSS_premium_freq"/>
        <xs:element ref="BSS_premium_type"/>
        <xs:element ref="BSS_cover_start_date"/>
        <xs:element ref="BSS_issue_date"/>
        <xs:element ref="BSS_cover_end_date"/>
        <xs:element ref="BSS_cover_period"/>
        <xs:element ref="BSS_day_basis"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BSS_premium_freq" nillable="true">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
        <xs:enumeration value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_premium_type">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_cover_start_date">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{2}-\d{2}-\d{4})?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_issue_date">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{2}-\d{2}-\d{4})?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_cover_end_date">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{2}-\d{2}-\d{4})?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_cover_period" type="xs:integer"/>
  <xs:element name="BSS_day_basis">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UKEF_EWCS_facility_id"/>
        <xs:element ref="EWCS_Guarantee_details"/>
        <xs:element ref="EWCS_Financial_details"/>
        <xs:element ref="EWCS_Dates_repayments"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UKEF_EWCS_facility_id" type="xs:string"/>
  <xs:element name="EWCS_Guarantee_details">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EWCS_portal_facility_id"/>
        <xs:element ref="EWCS_bank_id"/>
        <xs:element ref="EWCS_stage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EWCS_portal_facility_id" type="xs:integer"/>
  <xs:element name="EWCS_bank_id">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="30"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_stage">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_Financial_details">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EWCS_value"/>
        <xs:element ref="EWCS_currency_code"/>
        <xs:element ref="EWCS_conversion_rate_deal"/>
        <xs:element ref="EWCS_conversion_date_deal"/>
        <xs:element ref="EWCS_disbursement_amount"/>
        <xs:element ref="EWCS_interest_rate"/>
        <xs:element ref="EWCS_fee_perc"/>
        <xs:element ref="EWCS_guarantee_perc"/>
        <xs:element ref="EWCS_max_liability"/>
        <xs:element ref="EWCS_min_quarterly_fee"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EWCS_value" type="xs:decimal"/>
  <xs:element name="EWCS_currency_code" type="xs:integer"/>
  <xs:element name="EWCS_conversion_rate_deal">
    <xs:simpleType>
      <xs:union>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="0"/>
          </xs:restriction>
        </xs:simpleType>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_conversion_date_deal">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{2}-\d{2}-\d{4})?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_disbursement_amount">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{0,14}(\.\d{0,4}|\.?))?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_interest_rate">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_fee_perc">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="100"/>
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_guarantee_perc">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:minInclusive value="0"/>
        <xs:maxInclusive value="100"/>
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_max_liability">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
        <xs:totalDigits value="20"/>
        <xs:fractionDigits value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_min_quarterly_fee" type="xs:decimal"/>
  <xs:element name="EWCS_Dates_repayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EWCS_premium_type"/>
        <xs:element ref="EWCS_premium_freq" />
        <xs:element ref="EWCS_cover_start_date"/>
        <xs:element ref="EWCS_issue_date"/>
        <xs:element ref="EWCS_cover_end_date"/>
        <xs:element ref="EWCS_cover_period"/>
        <xs:element ref="EWCS_day_basis"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EWCS_premium_freq" nillable="true">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
        <xs:enumeration value="4"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_premium_type">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
        <xs:enumeration value="3"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_cover_start_date">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{2}-\d{2}-\d{4})?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_issue_date">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{2}-\d{2}-\d{4})?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_cover_end_date">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(\d{2}-\d{2}-\d{4})?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_cover_period" type="xs:integer"/>
  <xs:element name="EWCS_day_basis">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:enumeration value="1"/>
        <xs:enumeration value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Deal_summary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Deal_no_facilities"/>
        <xs:element ref="Deal_total_value_deal_cur"/>
        <xs:element ref="Deal_total_exposure_gbp"/>
        <xs:element ref="Deal_total_premium_gbp"/>
        <xs:element ref="Deal_total_exposure_deal_cur"/>
        <xs:element ref="Deal_total_premium_deal_cur"/>
        <xs:element ref="BSS_no_facilities"/>
        <xs:element ref="BSS_total_exposure_gbp"/>
        <xs:element ref="BSS_total_premium_gbp"/>
        <xs:element ref="BSS_total_exposure_deal_cur"/>
        <xs:element ref="BSS_total_premium_deal_cur"/>
        <xs:element ref="EWCS_no_facilities"/>
        <xs:element ref="EWCS_total_exposure_gbp"/>
        <xs:element ref="EWCS_total_premium_gbp"/>
        <xs:element ref="EWCS_total_exposure_deal_cur"/>
        <xs:element ref="EWCS_total_premium_deal_cur"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deal_no_facilities">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Deal_total_value_deal_cur" type="xs:decimal"/>
  <xs:element name="Deal_total_exposure_gbp" type="xs:decimal"/>
  <xs:element name="Deal_total_premium_gbp" type="xs:decimal"/>
  <xs:element name="Deal_total_exposure_deal_cur" type="xs:decimal"/>
  <xs:element name="Deal_total_premium_deal_cur" type="xs:decimal"/>
  <xs:element name="BSS_no_facilities">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="BSS_total_exposure_gbp" type="xs:decimal"/>
  <xs:element name="BSS_total_premium_gbp" type="xs:decimal"/>
  <xs:element name="BSS_total_exposure_deal_cur" type="xs:decimal"/>
  <xs:element name="BSS_total_premium_deal_cur" type="xs:decimal"/>
  <xs:element name="EWCS_no_facilities">
    <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EWCS_total_exposure_gbp" type="xs:decimal"/>
  <xs:element name="EWCS_total_premium_gbp" type="xs:decimal"/>
  <xs:element name="EWCS_total_exposure_deal_cur" type="xs:decimal"/>
  <xs:element name="EWCS_total_premium_deal_cur" type="xs:decimal"/>
  <xs:element name="Deal_files">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Exporter_questionnaire"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Audited_financial_statements"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Year_to_date_management"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Financial_forecasts"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Financial_information_commentary"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Corporate_structure"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exporter_questionnaire">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="general_correspondence" />
            <xs:enumeration value="financials" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Audited_financial_statements">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="general_correspondence" />
            <xs:enumeration value="financials" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Year_to_date_management">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="general_correspondence" />
            <xs:enumeration value="financials" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Financial_forecasts">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="general_correspondence" />
            <xs:enumeration value="financials" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Financial_information_commentary">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="general_correspondence" />
            <xs:enumeration value="financials" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Corporate_structure">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="general_correspondence" />
            <xs:enumeration value="financials" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Line1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Line2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Line3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Town">
        <xs:simpleType>
          <xs:restriction base="xs:string" >
            <xs:minLength value="0"/>
            <xs:maxLength value="50"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="PostalCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Country">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d*|\s{0}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
